<%= form_for @order_item do |f| %>
  <%= f.error_messages %>
  <h3>
  <%= @order_item.product.title %>
  </h3>
  <p>
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </p>
  <p><%= f.submit %></p>
<% end %>
