<h1>All Products</h1>

<table>
  <tr>
    <th>Image Url</th>
    <th>Title</th>
    <th>Price</th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%= image_tag "/images/products/#{product.image_url}" %></td>
      <td><span class="product_title"><%= product.title %></span><%= product.description %></td>
      <td><%= print_price(product.price) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Create a New Product", new_product_path %></p>
