<!DOCTYPE html>
<html>
  <head>
    <title>FoodWorks - Products: <%= controller.action_name %></title>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <p style="color: green"><%= flash[:notice] %></p>
    <div id="account">
      <% if current_user %>
        <span>Welcome, <%= current_user.name %></span>
        <%= link_to "Logout", logout_path, :id => "logout" %>
      <% else %>
        <%= link_to "Login", login_path, :id => "login" %>
      <% end %>
    </div>
    <div class="wrapper">
      <div class="header">
        <h1><%= link_to "FoodWorks", root_path %></h1>
        <p>Your Online Grocery</p>
      </div>

      <div class="sidebar">
        (sidebar)
      </div>

      <div class="main">
        <%= yield %>
      </div>

      <div class="footer">
        Foodworks Online Grocery<br/>
        A Rails Jumpstart Project
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
